<div class="table2">
  <p id="notice"><%= notice %></p>
  <p>Agenda</p>
  <div class="calendar"></div>
  

  <%= link_to 'Crear nueva cita', new_user_schedule_event_path(current_user), class: "btn btn-light btn-sm" %>
  
</div>

<div id="calendar" class="table2"> </div>
<script>
    $('#calendar').fullCalendar({events: "<%= user_schedule_events_path(format: :json) %>"})
</script>