<div class="table2">
  <p id="notice"><%= notice %></p>

  <div class="calendar"></div>
  

  <%= link_to 'New Schedule Event', new_user_schedule_event_path(current_user) %>
  
</div>

<div id="calendar" class="table2"> </div>
<script>
    $('#calendar').fullCalendar({events: "<%= user_schedule_events_path(format: :json) %>"})
</script>