<div class="centered">
    <h1>Editing Attention</h1>

    <%= render 'form', attention: @attention %>

    <%= link_to 'Mostrar Atención', @attention, class: "btn btn-light btn-sm ml-2" %> |
    <%= link_to 'Volver', attention_path, class: "btn btn-light btn-sm ml-2" %>
</div>
