<footer class="footer2 fixed-bottom shadow-lg mt-5">
    <div class="row justify-content-center align-items-center text-black">
        <div class="col-7 p-1">
            <p class="">Todos los derechos reservados, <strong>Therapy Spa</strong>
            <br>
            <i class="">Contáctanos: +56-987654321</i>
            <a href="mailto:info@therapymgr.com?Subject=Solicitud%de%informacion">info@therapymgr.com</a>
            </p>
        </div>
        
    </div>
</footer>