<nav class="right-side">
    
    <% if user_signed_in? %>
        <div class="mt-4 mb-5">
            <div class="row justify-content-center">
                <div class="col-8">
                    <%if user_signed_in? %>
                        <p></p>
                    <% end %>
                </div>
            </div>
        </div>
    <% else %>
        <div class="row text-white mt-0">
            
            <div class="col-10 color-gray menu-center">
                <p class="left-space"><strong>Qué esperas para vivir la experiencia Therapy Manager ?. Crea tu usuario</strong></p>
                <%= link_to 'AQUI', new_user_registration_path, class: "btn btn-light ml-5" %>
            </div>
            <div class="col-10 color-gray menu-center mt-4 left-space">
                <p><strong>Users Rating:</strong></p>
                <i class="fas fa-star fa-lg" style="color:yellow"></i>
                
                
                <%= @rating_promedio %>
            </div>
           
        
      </div>
            
        </div>
    <% end %>

    

</nav>