<div class="container content-sec">
<%= render "shared/messages"%> 
    
    <% if user_signed_in? %>
        <br>
        <p class="left-space-ppal2">Bienvenido a tu sesión de Therapy Manager</p>
        <br>
        <%= image_tag("terapias.jpg", class: "imagen2 img-responsive center-block") %>
        
    <% else %>
        <br>
        <br>
        <p class="left-space-ppal">Bienvenido a Therapy Manager, el sistema para manejar la información de tus pacientes.<br><br>Revisa las sesiones realizadas a tus pacientes, te ayudará a enfocarte en lo importante
        <p class="left-space-ppal">y entregarles la mejor experiencia</p>
        
        <br>
        <p class="left-space-ppal">Therapy Manager team</p>
        
        <%= image_tag("terapias.jpg", class: "imagen img-responsive center-block") %>
    <% end %>
  
</div>







