<div class="container content-sec color-black">
<%= render "shared/messages"%> 

    <% if user_signed_in? %>
        <div>
            <div class="row justify-content-md-center">
                <p>Bienvenido a tu sesión de Therapy Manager</p>
                <%= image_tag("terapias.jpg") %>
            </div>
        </div>
    <% else %>
        <br>
        <br>
        <p>Bienvenido a Therapy Manager, el sistema para manejar la información de tus pacientes.</p>
        <p>Revisa las sesiones realizadas a tus pacientes, te ayudará a enfocarte en lo importante </p>
        <p>y entregarles la mejor experiencia</p>
        <br>
        <p>Therapy Manager team</p>
        <%= image_tag("terapias.jpg") %>
    <% end %>

    
</div>







