<div class="container content-sec color-black">
<%= render "shared/messages"%> 

    <% if user_signed_in? %>
        <div>
            <div class="row justify-content-md-center">
                <p>Bienvenido a tu sesión de Therapy Manager</p>
                <%= image_tag("terapias.jpg") %>
            </div>
        </div>
    <% else %>
        <br>
        <br>
        <p class="left-space">Bienvenido a Therapy Manager, el sistema para manejar la información de tus pacientes.</p>
        <p class="left-space">Revisa las sesiones realizadas a tus pacientes, te ayudará a enfocarte en lo importante </p>
        <p class="left-space">y entregarles la mejor experiencia</p>
        <br>
        <p class="left-space">Therapy Manager team</p>
        <br>
        <%= image_tag("terapias.jpg", class: "img-responsive center-block img-left-space") %>
    <% end %>
  
</div>







