// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    font-family: 'Arial','Bree Serif', serif;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #e3f0e3;
}

.seccion {
    padding-left: 32em;
    padding-top: 3em;
}

.centered {
    margin-left: 25%;
}

.footer {
    margin-left:20%;
    margin-right: 22%;
}

.footer2 {
    margin-left:20%;
    margin-right: 0%;
}

.imagen {
    width: 45%;
    margin-left: 18em;
    margin-bottom: 79px;
}
.imagen2 {
    width: 45%;
    margin-left: 18em;
    margin-bottom: 229px;
}
.table {
    width: 60%;
}

.table1 {
    margin-left: 21%;
}
.table2 {
    width: 60%;
    margin-left: 25%;
}
a:link{
    text-decoration: none;
}

.left-side {
    padding-top: 56px; 
    width: 20%;
    background: #b1ddc1;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    border-right: 1px solid #ffffff;
}

.right-side {
    padding-top: 56px; 
    width: 30%;
    margin-left: 78%;
    background: #b1ddc1;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    border-left: 1px solid #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-ppal {
    background: #F0F8FF;
    margin-left: 25%;
    display: inline-block;
    margin-right: 30%;
    height: 100%;
    width: 45%;
    min-height: 100vh;
}

.content-sec {
    background: #ffffff;
    margin-left: 30%;
    width: 58%;
    height: 100%;
}

.margen-login{
    padding-bottom: 211px;
}

.margen-attentions{
    padding-bottom: 90px;
}

.margen-signup{
    padding-bottom: 171px;
}
.edit_user {
    margin-left: 24%;
    margin-right: 22%;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 0px;
}

.color-blue {
    color: #1da1f2;
}

.color-black {
    color: #000;
}

.color-blue-deep{
    color: #7f6edf;
}

.color-time{
    color: #0000FF;
}
.mytwitter{
    font-size:20px;
    text-shadow: 0.02em 0.02em 0.07em #c1dcec;
}
.icon-twitter{
    border-bottom: 1px solid #2f414e;
    padding-bottom: 10px;
}

.pagination-blue{
    background: #1da1f2 !important;
    border-color: #1da1f2 !important;
}

.mytwitter-post{
    border-bottom: 1px solid #2f414e;
    transition:all .5s ease-in-out;
    width: 100%;
}
.det-post {
    width: 50%;   
}

.left-space{
    margin-left: 18px;
}
.left-space-ppal{
    margin-left: 230px;
}

.left-space-ppal2{
    margin-left: 286px;
}

.forma {
    margin-left: 20%;
    height: 100%;
}

.left-title{
    margin-left: 453px;
}
.img-left-space{
    margin-left: 215px;
    padding-bottom: 15px;
}
.det-post:hover .det-post-row{
    -webkit-transform:scale(1.03);transform:scale(1.03);    
}

.det-post-row{
    transition:all .9s ease-in-out;
    width: 53%;
}

.tab-content{
    background: #2f414e;
}

.mytwitter-post:hover{
    background: #87CEFA !important;
}
.contenedor-header{
    overflow:hidden;
}

.contenedor-header:hover .photo-header{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

.photo-header {
    -webkit-transition:all 0.9s ease; /* Safari & Chrome */ 
    transition:all 0.9s ease; 
}

.devise-how{
    overflow:hidden;
    transition:all .9s ease-in-out;
}

.devise-how:hover{
    background: #87CEFA !important;
}

.bg-gray{
    background: #87CEFA !important;
}

.border-down{
    border-bottom: 1px solid #2f414e;
}

.border-down-white{
    border-bottom: 1px solid #fff;
}

.border-up{
    border-top: 1px solid #2f414e;
}

.msg-format{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.photo-avatar{
    width: 70px;
    height: 70px;
    border: solid 2px #ffff;
}
.div-button-tweetear{
    margin-left: 85%;
}
.text-8{
    font-size: 11px !important;
}

.text-11{
    font-size: 11px !important;
}

.text-13{
    font-size: 13px !important;
}

.photo-avatar-post{
    width: 40px;
    height: 40px;
    border: solid 0px #ffff;
}
.photo-avatar-post-follow{
    width: 45px;
    height: 45px;
    transition: 0.5s;
}
.photo-avatar-session{
    width: 40px;
    height: 40px;
    border: solid 0px #ffff;
}

.div-like-retweet{
    margin-left: 70%;
}

.devise-form{
    width: 60%;
    margin-left: 20%;
}

.devise-form-1{
    width: 90%;
    margin-left: 5%;
}

.retweet-marco{
    background: #AFEEEE;
    margin-left: 5%;
    margin-right: 5%;
}

.photo-avatar-post-re{
    width: 30px;
    height: 30px;
    border: solid 0px #ffff;
}

.new_user {
    margin-left: 30%;
    margin-right: 26%;
}

.box{
    width: 35px;
    height: 35px;
    border: solid 0px #ffff;
    transition: 0.7s;
}
.box:hover{
    transform: scale(2.3);
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}

.zoom-icon{
	-webkit-transform: scale(1,1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1,1);
	-moz-transition-timing-function: ease-out;
	-moz-trasition-duration: 250ms;
}
.zoom-icon:hover{
	-webkit-transform: scale(1.4,1.4);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 100ms;
	-moz-transform: scale(1,4,1.4);
	-moz-transition-timing-function: ease-out;
	-moz-trasition-duration: 100ms;
}

///////////////////////////////////////////////////////

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #1da1f2;
    border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    right: 0;
    margin-top: -3px;
    content: "";
    border-width: 5px 0 5px 5px;
    border-left-color: #1da1f2;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
       margin-left: -3px;
       content: "";
       border-width: 5px 5px 0;
       border-top-color: #1da1f2;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
       margin-top: -3px;
       content: "";
       border-width: 5px 5px 5px 0;
       border-right-color: #1da1f2;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
       margin-left: -3px;
       content: "";
       border-width: 0 5px 5px;
       border-bottom-color: #1da1f2;
}

////////////////////////////////////////////
/*Estilos profile*/
.avatar-profile{
    width: 100px;
    height: 100px;
}

.search_icon{
    position: relative;
    float: right;
    top: 28px;
    left: -30px;
    color: #CCC;
  }

.body-content a{
    color: #7ec5f1;
    text-decoration: none;
    font-size: 14px;
}

.list-group-item{
    padding-top: 2px;
    padding-bottom: 2px;
    color: yellow !important;
}

.list-group-item:hover{
    background: #b6c6cc !important;
}

.hashtag-title a{
    color: #7f6edf !important;
    text-decoration: none !important;
    font-size: 12px;
}

.perfil_photo{
    position: relative;
    float: left;
    top: -80px;
    left: 50px;
    color: #CCC;
    width: 140px;
    height: 140px;
    border: solid 4px #2f414e;
    transition: 0.5s;
  }

  .button-perfil{
    position: relative;
    float: right;
    top: 30px;
    left: -60px;
  }

  .date-perfil{
    position: relative;
    float: left;
    top: 0px;
    left: -60px;
  }

  .card-special{
    width: 100%;
    border: 0px;
  }

  .bg-twitter{
    background: #001a25;
  }

  .bg-twitter{
      background: #2f414e;
  }



.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #2f414e;
    border-color: #2f414e #2f414e #2f414e;
}

.followed{
    position: relative;
    float: left;
    top: 0px;
    left: -60px;
  }

.perfil_photo:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 8px 8px #ec731e;
  transform: rotate(360deg) scale(1.4);
  -webkit-transform: rotate(360deg);
}

.photo-avatar-post:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 4px 4px #ec731e;
    -webkit-box-shadow: 0px 0px 4px 4px #ec731e;
    transform: rotate(360deg) scale(1.4);
    -webkit-transform: rotate(360deg);
}

.color-danube{
    color:#1da1f2;
}

.color-tiara{
    color: #c1cbca;
}

#margen-abajo{
    margin-bottom: 125px;
}

#margen-abajo1{
    margin-bottom: 283px;
}

#margen-abajo2{
    margin-bottom: 100px;
}